{% extends "base.html" %}
{% block content %}
    <main>
        <table data-test="urls" class="table table-hover container ps-xl-5 pe-xl-5 mt-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                <tr>
                    <td>{{ url[0] }}</td>
                    <td><a href="{{ url_for('show_url', id=url[0]) }}">{{ url[1] }}</a></td>
                    <td>{{ url[2] }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}